body {
    background: #ff416c;
    margin: 0;
    padding: 0;
    font-size: 100%;
    background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b);
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: #e6ffffff;
}

#header_container {
    background-color: rgba(0, 0, 0, 0.15);
    margin: 0px;
    padding-top: 1px;
}

header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo_box {
    align-content: center;
    display: block;
    margin-top: 20px;
}

#logo {
    width: 40px;
    height: 40px;
}

#logo_name {
    text-align: center;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 0px;
}

#logo_link, #logo_name {
    display: inline-block;
    vertical-align: middle;
}

#subtitle {
    font-size: 12px;
    margin: 0;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

#body_container {
    margin: 5px 30px 5px 30px ;
}

p#body_title {
    font-size: 4vw;
    font-weight: bold;
    line-height: 70px;
    margin: 10px 0px;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 12px;
    vertical-align: middle;
    background: url(../assets/svg/bullet_icon.svg) no-repeat 0 0;
    padding-left: 50px;
    font-family: "Roboto", sans-serif;
}

li div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#features {
    padding: 5px;
    margin: 0px 80px 10px;
}

div#details {
    width: 60%;
    float: left;
    font-family: 'Roboto', sans-serif;
}

div#download_section {
    display: block;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

div#screens {
    width: 40%;
    display: inline-block;
    text-align: center;
}
p.small {
    line-height: 0.8;
}
p.big {
    line-height: 1.8;
}
ul.small {
    line-height: 0.8;
}
ul.big {
    line-height: 1.8;
}

footer {
    margin: 20px;
}